<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                   <h2>Sorry bitch but we do not provide any customer support, better go fuck yourself</h2>
                <div class="error-details">
                    This coach will kick your ass
                </div>
                <img style="width: 50%;" src="http://i.imgur.com/hbB8G5t.png" alt="Couch stops you">
            </div>
        </div>
    </div>
    
  </div>
  