@import url('https://fonts.googleapis.com/css?family=Oswald|Poppins');
body {
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Poppins', sans-serif;
}

.card-box {
    background: #FAFAFA;
    min-height: 300px;
    position: relative;
    padding: 30px 30px 20px;
    margin-bottom: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
}

.card-box:hover {
    background: linear-gradient(120deg, rgb(252, 203, 144) 0%, rgb(213, 126, 235) 100%);
}

.card-box:after {
    display: block;
    background: #f0ad4e;
    border-top: 2px solid #f0ad4e;
    content: '';
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
}

.card-title h2 {
    margin: 0;
    padding-top: 5%;
    color: #f0ad4e;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 15px;
}

.card-title p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 16px;
}

.card-link a {
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    color: rgb(34, 56, 255);
    font-size: 15px;
}

.container {
    margin-top: 2%;
}
