.login-card {
  max-width: 345px;
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10% auto 30px;
  padding: 50px 70px 70px 71px;
}

.login-header-image {
  background-size: cover;
}

.form-button {
  width:80px; 
  // margin: 0px 25%!important;
}

mat-card-header {
  justify-content: center;
}

mat-card-actions {
  margin: 0 0;
  // text-align: center;
}