<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar #toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngIf="(auth | async)?.isLoggedIn" >{{(auth | async)?.usrEmail}}</a>
      <a mat-list-item routerLink="coachdash">Coach Dash</a>
      <a mat-list-item routerLink="register">Sign up</a>
      <button *ngIf="!(auth | async)?.isLoggedIn" mat-raised-button color="accent" routerLink="/login">Login</button>
      <button *ngIf="(auth | async)?.isLoggedIn" mat-raised-button color="warn" (click)="logout()">Logout</button>
    </mat-nav-list>
  </mat-sidenav >
  <mat-sidenav-content #sidenav2>
    <mat-toolbar #toolbar2 color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <!-- <h1 id="testlogo">CoachGo Experience!</h1> -->
      <span id="testlogo" routerLink="/home">CoachGo Experience!</span>
      <!-- <span class="spacer"></span> -->
      <button *ngIf="(auth | async)?.isLoggedIn && !(isHandset$ | async)" mat-raised-button color="primary" (click)="goBack()">go back</button>

      <span class="spacer"></span>
      <form *ngIf="(auth | async)?.isLoggedIn && !(isHandset$ | async)" class="example-form">
          <mat-form-field class="example-full-width">
            <input type="text"   matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <!-- <mat-option routerLink="/seeall/{{option._id}}" *ngFor="let option of filteredOptions | async" [value]="option"> -->
              <mat-option (click)="goToAthlete(option._id)"  *ngFor="let option of filteredOptions | async" [value]="option">
                {{option.firstName}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      <div *ngIf="!(isHandset$ | async)">
          <a *ngIf="!theme" (click)="changeTheme()">Dark theme </a>
          <a *ngIf="theme" (click)="changeTheme()">Classic theme </a>
          <!-- <a  routerLink="settings">Settings </a> -->
          <a *ngIf="(auth | async)?.isLoggedIn"> {{(auth | async)?.usrEmail}}</a>
          <a routerLink="coachdash">Coach Dash</a>
          <a *ngIf="!(auth | async)?.isLoggedIn" routerLink="register">Sign up </a>
          <button id="e2e-login" *ngIf="!(auth | async)?.isLoggedIn" mat-raised-button color="accent" routerLink="/login">Login</button>
          <button *ngIf="(auth | async)?.isLoggedIn" mat-raised-button color="warn" (click)="logout()">Logout</button>
          
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

