
<app-main-nav>
     <router-outlet></router-outlet>
</app-main-nav>


<!-- ngRX shiet -->
<!-- <div *ngIf="post | async as p">


    <h2>{{ (post | async)?.text }}</h2>
    <h4>Votes: <span class="tag is-info is-large">{{ p.likes }}</span></h4>
  
    <hr>
  
    <button (click)="upvote()" class="button is-success">Upvote</button>
    <button (click)="downvote()" class="button is-danger">Downvote</button>
    <button (click)="resetPost()" class="button is-warning">Reset</button>
    <hr>
    <input type="text" class="input" [(ngModel)]="text" [value]="text">
    <button (click)="editText()" class="button is-primary">Change Title</button>
  
  </div>

  <div>
      <div>{{(auth | async)?.usrEmail}}</div>
    
    <button (click)="changeAuhtText()" >change shiet</button>
    </div> -->