<!-- 
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sidebarNavigation" data-sidebarClass="navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="home">CouchGO</a>
        <button class="navbar-toggler leftNavbarToggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" routerLink="coachdash">Coach Dash</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="register">Sign up</a>
                </li>
                <li *ngIf="(auth | async)?.isLoggedIn" class="nav-item">
                    <a class="nav-link" >{{(auth | async)?.usrEmail}}</a>
 
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button *ngIf="(auth | async)?.isLoggedIn"  class="btn btn-outline-danger my-2 my-sm-0" (click)="logout()" routerLink="/home" >Logout</button>
                <button *ngIf="!(auth | async)?.isLoggedIn"  class="btn btn-outline-danger my-2 my-sm-0" routerLink="/login" >Login</button>
              </form>

        </div>
    </nav>


</body> -->


<app-main-nav></app-main-nav>


<router-outlet></router-outlet>















<!-- ngRX shiet -->
<!-- <div *ngIf="post | async as p">


    <h2>{{ (post | async)?.text }}</h2>
    <h4>Votes: <span class="tag is-info is-large">{{ p.likes }}</span></h4>
  
    <hr>
  
    <button (click)="upvote()" class="button is-success">Upvote</button>
    <button (click)="downvote()" class="button is-danger">Downvote</button>
    <button (click)="resetPost()" class="button is-warning">Reset</button>
    <hr>
    <input type="text" class="input" [(ngModel)]="text" [value]="text">
    <button (click)="editText()" class="button is-primary">Change Title</button>
  
  </div>

  <div>
      <div>{{(auth | async)?.usrEmail}}</div>
    
    <button (click)="changeAuhtText()" >change shiet</button>
    </div> -->