<!-- <button class="btn btn-primary" (click)="toggle()" id="bt">
    Add a new athelte
</button>
<div>
  <div *ngIf="show" class="container ">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h3 >Add a new athelete</h3>
        <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>

          <div class="form-group">
            <label for="firstName">First name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="athleteModel.firstName" #firstName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required />
            <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
              <div *ngIf="firstName.errors.required">firstName is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="lastName">Last name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="athleteModel.lastName" #lastName="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && lastName.invalid }" required />
            <div *ngIf="f.submitted && lastName.invalid" class="invalid-feedback">
              <div *ngIf="lastName.errors.required">lastName is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" name="age" [(ngModel)]="athleteModel.age"
              #age="ngModel" [ngClass]="{ 'is-invalid': f.submitted && age.invalid }" required />
            <div *ngIf="f.submitted && age.invalid" class="invalid-feedback">
              <div *ngIf="age.errors.required">age is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="dateCreated">Date</label>
            <input type="date" class="form-control" name="dateCreated" [(ngModel)]="athleteModel.dateCreated" #dateCreated="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && dateCreated.invalid }" required />
            <div *ngIf="f.submitted && dateCreated.invalid" class="invalid-feedback">
              <div *ngIf="dateCreated.errors.required">Date is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="sport">Activity/sport</label>
            <input type="text" class="form-control" name="sport" [(ngModel)]="athleteModel.sport" #sport="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && sport.invalid }" required />
            <div *ngIf="f.submitted && sport.invalid" class="invalid-feedback">
              <div *ngIf="sport.errors.required">sport is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="phone">Phone number</label>
            <input type="text" class="form-control" name="phone" [(ngModel)]="athleteModel.phone" #phone="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && phone.invalid }" required />
            <div *ngIf="f.submitted && phone.invalid" class="invalid-feedback">
              <div *ngIf="phone.errors.required">phone is required</div>
            </div>
          </div>

          <div class="form-group">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="athleteModel.email" #email="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required />
            <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
              <div *ngIf="email.errors.required">email is required</div>
            </div>
          </div>
          <div class="form-group">
            <label for="active">active</label>
            <input type="text" class="form-control" name="active" [(ngModel)]="athleteModel.active" #active="ngModel"
              [ngClass]="{ 'is-invalid': f.submitted && active.invalid }" required />
            <div *ngIf="f.submitted && active.invalid" class="invalid-feedback">
              <div *ngIf="active.errors.required">active is required</div>
            </div>
          </div>
          <div class="form-group">
            <input class="form-control" type="radio" name="gender" value="male"> Male<br>
            <input class="form-control" type="radio" name="gender" value="female"> Female<br>
            <input class="form-control" type="radio" name="gender" value="other"> Other
          </div>
     
          <div class="form-group">
            <button class="btn btn-primary">Register</button>
          </div>
        </form>
      </div>
    </div>
  </div>
 
</div> -->




<h1>pabaigti sita rytoi </h1>


<form [formGroup]="athleteForm" novalidate (submit)="onSubmit(athleteForm)">

    <div>
        <mat-form-field>
            <input type="email" matInput placeholder="Email" formControlName="email" required ngModel [email]="true">
            <mat-error *ngIf="athleteForm.controls.email.errors?.required && athleteForm.controls.email.touched">
                Please fill out the email
            </mat-error>

        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input type="text" matInput placeholder="First Name" formControlName="firstName" ngModel>
            <mat-error *ngIf="athleteForm.controls.firstName.errors?.required && athleteForm.controls.firstName.touched">
                Please fill out the First name
            </mat-error>

        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input type="text" matInput placeholder="Last name" formControlName="lastName" ngModel>
            <mat-error *ngIf="athleteForm.controls.lastName.errors?.required && athleteForm.controls.lastName.touched">
                Please fill out the Last name
            </mat-error>

        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input type="number" matInput placeholder="Age" formControlName="age" ngModel>
            <mat-error *ngIf="athleteForm.controls.age.errors?.required && athleteForm.controls.age.touched">
                Please fill out the Age
            </mat-error>

        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input type="number" matInput placeholder="Height" formControlName="height" ngModel>
            <mat-error *ngIf="athleteForm.controls.height.errors?.required && athleteForm.controls.height.touched">
                Please fill out the height
            </mat-error>

        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input type="email" matInput placeholder="Sport" formControlName="sport" ngModel>
            <mat-error *ngIf="athleteForm.controls.sport.errors?.required && athleteForm.controls.sport.touched">
                Please fill out the Sport
            </mat-error>

        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input type="number" matInput placeholder="Phone" formControlName="phone" ngModel>
            <mat-error *ngIf="athleteForm.controls.phone.errors?.required && athleteForm.controls.phone.touched">
                Please fill out the phone number
            </mat-error>

        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <input type="text" matInput placeholder="Active" formControlName="active" ngModel>
            <mat-error *ngIf="athleteForm.controls.active.errors?.required && athleteForm.controls.active.touched">
                Please select if this athelete is active
            </mat-error>

        </mat-form-field>
    </div>
    



    <button class="btn-primary" type="submit" [disabled]="athleteForm.invalid">Register</button>
</form>


<p>
    Form Value: {{ athleteForm.value | json }}
  </p>
  
  
  <p>
    Form Status: {{ athleteForm.status }}
  </p>
  
  <button (click)="cleanForm()" >clear</button>
  
