
<mat-accordion class="example-headers-align">
  <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Athlete data
      </mat-panel-title>
      <mat-panel-description>
        Select athlete and training program
        <mat-icon>account_circle</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <h5>Select user</h5>
    <mat-select  [(ngModel)]="athleteId"  placeholder="Select athlete">
      <mat-option *ngFor="let athlete of athletes"  [value]="athlete._id ">{{athlete.firstName}}</mat-option>
    </mat-select>
    <h5>Select training</h5>
    <mat-select required [(ngModel)]="training" placeholder="Select sport">
      <mat-option  value="basketball">Basketball</mat-option>
      <mat-option  value="football">Football</mat-option>
      <mat-option  value="fitness">Fitness</mat-option>
      <mat-option  value="swimming">Swimming</mat-option>
     </mat-select>

    <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>

  <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Training results
      </mat-panel-title>
      <mat-panel-description>
        Type all results of the training
        <mat-icon>class</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

     <!-- //basketball training program -->
    <div  [formGroup]="basketballForm" novalidate *ngIf="training === 'basketball'">
      <mat-form-field >
        <input type="number" required formControlName="mpg" matInput placeholder="Minutes per game" >
      </mat-form-field>
      <mat-form-field>
        <input type="number" required formControlName="fg" matInput placeholder="Field goals">
      </mat-form-field>
      <mat-form-field>
        <input type="number" required formControlName="threep" matInput placeholder="Three points">
      </mat-form-field>
      <mat-form-field>
        <input type="number" required formControlName="ft" matInput placeholder="Free throws ">
      </mat-form-field>
      <mat-form-field>
        <input type="number" required formControlName="ppg" matInput  placeholder="Points per game">
      </mat-form-field>
      <mat-form-field>
        <input type="number" required required formControlName="rpg" matInput placeholder="Rebounds per game">
      </mat-form-field>
      <mat-form-field>
        <input type="number" required formControlName="apg" matInput placeholder="Assists per game">
      </mat-form-field>
      <mat-form-field>
        <input type="number" required formControlName="bpg" matInput placeholder="Blocks per game">
      </mat-form-field>
          <input required [(ngModel)]="athleteId" hidden="true" formControlName="id" >
          <input required [(ngModel)]="trainingdate" hidden=true formControlName="trainingdate">
    </div>

    <!-- //football training program -->
    <div  [formGroup]="footballForm" *ngIf="training === 'football'">
      <mat-form-field >
        <input type="number" required formControlName="mins" matInput placeholder="Minutes per training" >
      </mat-form-field>
      <mat-form-field>
        <input type="number" required formControlName="goals" matInput placeholder="Total goals">
      </mat-form-field>
      <mat-form-field>
        <input type="number" required formControlName="assists" matInput placeholder="Total assists">
      </mat-form-field>
      <mat-form-field>
        <input type="number" required formControlName="yel" matInput placeholder="Yellow cards">
      </mat-form-field>
      <mat-form-field>
        <input type="number" required formControlName="red" matInput  placeholder="Red cards">
      </mat-form-field>
      <mat-form-field>
        <input type="number" required required formControlName="spg" matInput placeholder="Shots per training">
      </mat-form-field>
      <mat-form-field>
        <input type="number" required formControlName="aerialswon" matInput placeholder="Aerials Won">
      </mat-form-field>
      <mat-form-field>
        <input type="number" required formControlName="motm" matInput placeholder="Man of the match">
      </mat-form-field>
          <input required [(ngModel)]="athleteId" hidden="true" formControlName="id" >
          <input required [(ngModel)]="trainingdate" hidden=true formControlName="trainingdate">
    </div>

        <!-- //fitness training program -->
        <div  [formGroup]="fitnessForm" *ngIf="training === 'fitness'">
          <mat-form-field >
            <input type="number" required formControlName="squats" matInput placeholder="Squats" >
          </mat-form-field>
          <mat-form-field>
            <input type="number" required formControlName="pull" matInput placeholder="Pull-ups">
          </mat-form-field>
          <mat-form-field>
            <input type="number" required formControlName="push" matInput placeholder="Push-ups">
          </mat-form-field>
          <mat-form-field>
            <input type="number" required formControlName="kmr" matInput placeholder="Kilimeters run">
          </mat-form-field>
              <input required [(ngModel)]="athleteId" hidden="true" formControlName="id" >
              <input required [(ngModel)]="trainingdate" hidden=true formControlName="trainingdate">
        </div>
        <!-- //swimming training program -->
        <div  [formGroup]="swimmingForm" *ngIf="training === 'swimming'">
          <!-- <mat-form-field >
            <input type="text" required formControlName="technique" matInput placeholder="technique" >
          </mat-form-field> -->

          <mat-select required formControlName="technique" placeholder="Select technique">
              <mat-option  value="Freestyle">FreeStyle</mat-option>
              <mat-option  value="Front Crawl">Front Crawl</mat-option>
              <mat-option  value="Trudgen">Trudgen</mat-option>
              <mat-option  value="Dog paddle">Dog paddle</mat-option>
             </mat-select>

          <mat-form-field >
            <input type="number" required formControlName="time" matInput placeholder="time" >
          </mat-form-field>
          <mat-form-field>
            <input type="number" required formControlName="rounds" matInput placeholder="Rounds">
          </mat-form-field>
             <input required [(ngModel)]="athleteId" hidden="true" formControlName="id" >
              <input required [(ngModel)]="trainingdate" hidden=true formControlName="trainingdate">
        </div>
  

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row>
  </mat-expansion-panel>





  <mat-expansion-panel [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Notes equipment and status
      </mat-panel-title>
      <mat-panel-description>
        Provide some extra information
        <mat-icon>info</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-select required [(ngModel)]="equipment" placeholder="Select eqiupment type">
      <mat-option  value="basketball">Basketball equipment</mat-option>
      <mat-option  value="football">Football equipment</mat-option>
      <mat-option  value="fitness">Fitness equipment</mat-option>
      <mat-option  value="swimming">Swimming equipment</mat-option>
     </mat-select>

     <mat-checkbox  [(ngModel)]="done">Training done</mat-checkbox>


     <mat-form-field>
      <textarea matInput maxlength="25"  [(ngModel)]="notes" placeholder="Notes..."></textarea>
    </mat-form-field>
  
  </mat-expansion-panel>









  <mat-expansion-panel [expanded]="step === 3" (opened)="setStep(3)" hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Day of the training
      </mat-panel-title>
      <mat-panel-description>
        Inform the date that training was acomplished
        <mat-icon>date_range</mat-icon>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <input required [(ngModel)]="trainingdate" matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
    </mat-form-field>
    <mat-datepicker #picker></mat-datepicker>

    <mat-action-row>
      <button mat-button color="warn" (click)="prevStep()">Previous</button>
      <button mat-button color="primary" (click)="nextStep()">End</button>
      <button  *ngIf="training === 'basketball'" mat-raised-button color="primary" type="submit" [disabled]="basketballForm.invalid" (click)="onSubmit(basketballForm)">Assign basketball results</button>
      <button  *ngIf="training === 'football'" mat-raised-button color="primary" type="submit" [disabled]="footballForm.invalid" (click)="onSubmit(footballForm)">Assign football results</button>
      <button  *ngIf="training === 'fitness'" mat-raised-button color="primary" type="submit" [disabled]="fitnessForm.invalid" (click)="onSubmit(fitnessForm)">Assign fitness results</button>
      <button  *ngIf="training === 'swimming'" mat-raised-button color="primary" type="submit" [disabled]="swimmingForm.invalid" (click)="onSubmit(swimmingForm)">Assign swimming results</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>

<!-- <p>
  Form Value: {{ basketballForm.value | json }}
</p>
<p>
  Form Value: {{ basketballForm.valid | json }}
</p> -->
