.timer-card {
    max-width: 345px;
    background: #ffffff none repeat scroll 0 0;
    border-radius: 2px;
    margin: 10% auto 30px;
    padding: 50px 70px 70px 71px;
  }
  .seconds {
      font-size: 40px;
      font-display: fantasy;
  }
  
