<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CoachGO</title>
</head>

<body>
    <main>
        <section id="product-overview">
            <h1>Get the expierience you deserve.</h1>
        </section>
    </main>
       <div style="text-align: center; padding: 80px 150px;">
            <h2>  <a href="https://coachgo.herokuapp.com/home/">
                <img  src="http://i.imgur.com/hbB8G5t.png" width="auto" height="221">
                </a>
                </h2>
                <article style="display: block; text-align: left; width: 770px; margin: 0 auto; ">
                    <h1 style="font-size: 50px;"> Our system is under construction</h1>
                    <div>
                        <p>Many features are still in the development and might not not work properly</p>
                        <p>The CoachGO Team</p>
                    </div>
                </article>
       </div>
    </body>

</html> -->