<h5>Select athlete {{athelteID}}</h5>
<select (change)="onChange($event.target.value)" [(ngModel)]="athleteId" placeholder="Select athlete">
  <option *ngFor="let athlete of athletes"  [value]="athlete._id ">{{athlete.firstName}}</option>
</select>
<!-- <mat-select (change)="onChange($event.target.value)" placeholder="Select athlete">
  <mat-option *ngFor="let athlete of athletes"  [value]="athlete._id ">{{athlete.firstName}}</mat-option>
</mat-select> -->
<form class="example-form">

  <!-- <h5>Select training</h5>
  <mat-select required  placeholder="Select sport">
    <mat-option  value="basketball">Basketball</mat-option>
    <mat-option  value="football">Football</mat-option>
    <mat-option  value="fitness">Fitness</mat-option>
   </mat-select> -->
  <h5>Select type of data</h5>
  <!-- <mat-select required  placeholder="Data to be displayed">
    <mat-option *ngFor="let training of trainings"  value="basketball">{{training.mpg}}</mat-option>
   </mat-select> -->

   <select  placeholder="Select data">
    <option *ngFor="let datatype of datatypes">{{datatype}}</option>
  </select>

  <button class="form-button" (click)="updategraph()" mat-raised-button color="primary">Update graph</button>
</form>

<plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>

<button (click)="test()">test</button>