.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  .example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}
mat-select {
    margin-bottom: 10px;
    margin-top: 10px;
}

.select-button {
  margin-left: 50%;
  margin-right: auto;
}
.select-p {
  margin-left: 50%;
  margin-right: auto;
}