<!-- <div class="container">
  <div class="login-form">
    <div class="main-div">
      <div class="panel">
        <h2>Register coach</h2>
        <p>Please fill out the form to register</p>
      </div>
      <form id="Login" class="form-group" [formGroup]="registerForm" novalidate (submit)="onSubmit(registerForm)">
        <input class="form-control" type="email" matInput placeholder="email" formControlName="email" ngModel [email]="true">
        <div class="inputError" *ngIf="registerForm.controls.email.errors?.required && registerForm.controls.email.touched">
          Please fill out the email
        </div>
        <input type="text" class="form-control" formControlName="firstName" placeholder="First name">
        <div class="inputError" *ngIf="registerForm.controls.firstName.errors?.required && registerForm.controls.firstName.touched">
          Please fill out the first name
        </div>
        <input type="text" class="form-control" formControlName="lastName" placeholder="Last name">
        <div class="inputError" *ngIf="registerForm.controls.lastName.errors?.required && registerForm.controls.lastName.touched">
          Please fill out the last name
        </div>
        <input class="form-control" type="password" matInput placeholder="password" formControlName="password">
        <div class="inputError" *ngIf="registerForm.controls.password.errors?.required && registerForm.controls.password.touched">
          Please fill out the password
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">Register</button>
      </form>
      <a routerLink="/login">Already have an account</a>
    </div>
  </div>
</div> -->

<mat-card class="register-card">
    <mat-card-header>
      <mat-card-title>Register</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form id="Register" [formGroup]="registerForm" novalidate 
      (submit)="onSubmit(registerForm)">
         <table class="register-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field  class="register-full-width">
              <input type="email" matInput placeholder="Email"  name="email" required
              id="inputEmail" formControlName="email" [email]="true">
              <mat-icon matSuffix>email</mat-icon>
              </mat-form-field>
              <div class="inputError" *ngIf="registerForm.controls.email.errors?.required && registerForm.controls.email.touched">
                  Please fill out the email
                </div>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field  class="register-full-width">
              <input type="text" matInput   name="firstName" required
              id="firstName" placeholder="First name" formControlName="firstName">
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <td>
              <mat-form-field  class="register-full-width">
              <input type="text" matInput placeholder="Last name"  name="lastName" required
              id="lastName"  formControlName="lastName" >
              </mat-form-field>
            </td>
          </tr>
          <tr>
          <td><mat-form-field class="register-full-width">
            <input matInput placeholder="Password"  type="password" name="password" required
             class="form-control" id="inputPassword"  formControlName="password">
          </mat-form-field>
          <div class="inputError" *ngIf="registerForm.controls.password.errors?.required && registerForm.controls.password.touched">
              Please fill out the password
            </div>
        </td>
        </tr></table>
        <mat-card-actions>
          <button class="form-button"  mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Register</button>
          <button style="margin: 0 20px;"  class="form-button"  mat-raised-button color="secondary" routerLink="/login">Login</button>
              </mat-card-actions>
      </form>
    </mat-card-content>

  </mat-card>